/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  /* text-align: center; */
  position: relative;
  overflow: hidden;
}
.mainBanner{
  display: flex;
  flex-direction: row;
  align-items: center;

}
.mainBanner div:last-child{
  display: flex;
  justify-content: flex-end;
}
.mainBanner img{
width: 80%;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
  .mainBanner{
    flex-direction: column;
   text-align: center;
  }
  .mainBanner img{
    width: 50%;
 
    }
    .mainBanner div:last-child{
      display: flex;
      justify-content: center;
    }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
